* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .container {
    width: 80vw;
    height: 300px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
  }

  .subs-content > h1 {
    margin: 20px 0;
  }

  .image-subs > img {
    width: 40px;
    height: 40px;
  }

  .container-subs-content {
    display: flex;
    flex-direction: column;
    gap: 240px;
  }

  button {
    margin-top: 20px;
    background-color: #012852;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }

  button:hover {
    background-color: red;
  }

  #emailDisplay {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  main {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .container {
    width: 300px;
    height: 300px;
    border: 1px solid green;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .image-subs {
    margin-bottom: 8px;
  }

  .subs-content {
    padding: 10px 0;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: red;
  }

  #emailDisplay {
    font-weight: bold;
  }
}
